### Salt used to deploy the contracts. Recommended to use the same salt across different chains.
CREATE2_SALT="0x0000000000000000000000000000000000000000000000000000000000000001"

# The initial owner of all of the contracts.
OWNER=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# The minimum amount of $PROVE needed to stake.
MIN_STAKE_AMOUNT=10000000000000000

# The amount of seconds for unstaking to complete.
UNSTAKE_PERIOD=1209600

# The amount of seconds for slashing to complete.
SLASH_PERIOD=604800

# The maximum amount of $PROVE that can be dispensed per second.
DISPENSE_RATE=1268391679 # ~4% yearly